
###> symfony/framework-bundle ###
/Ejercicio2/.env.local
/Ejercicio2/.env.local.php
/Ejercicio2/.env.*.local
/Ejercicio2/config/secrets/prod/prod.decrypt.private.php
/Ejercicio2/public/bundles/
/Ejercicio2/var/
/Ejercicio2/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/Ejercicio2/.phpunit
/Ejercicio2/.phpunit.result.cache
/Ejercicio2/phpunit.xml
###< symfony/phpunit-bridge ###
