
###> symfony/framework-bundle ###
/EjercicioDos/.env.local
/EjercicioDos/.env.local.php
/EjercicioDos/.env.*.local
/EjercicioDos/config/secrets/prod/prod.decrypt.private.php
/EjercicioDos/public/bundles/
/EjercicioDos/var/
/EjercicioDos/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/EjercicioDos/.phpunit
/EjercicioDos/.phpunit.result.cache
/EjercicioDos/phpunit.xml
###< symfony/phpunit-bridge ###
